build==0.9.0
certifi==2023.7.22
cffi==1.15.1
cryptography==41.0.4
multipart==0.2.4
packaging==21.3
pep517==0.13.0
polling==0.3.2
polling2==0.5.0
pycparser==2.21
Pygments==2.15.0
PyJWT==2.4.0
pyparsing==3.0.9
PyYAML==6.0
requests==2.31.0
requests-toolbelt==0.10.1
six==1.16.0
toml==0.10.2
urllib3==1.26.18
