build==0.3.0
certifi==2020.12.5
cffi==1.14.5
cryptography==3.4.6
multipart==0.2.4
packaging==20.9
pep517==0.9.1
polling==0.3.1
polling2==0.4.6
pycparser==2.20
Pygments==2.8.0
PyJWT==2.0.1
pyparsing==2.4.7
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
toml==0.10.2
urllib3==1.26.8